<launch>
  <node pkg="nodelet" type="nodelet" name="filter_nodelet"  args="manager" respawn="true"/>

  <node pkg="nodelet" type="nodelet" name="x_pass" args="load pcl/PassThrough filter_nodelet" respawn="true" respawn_delay="5">
    <remap from="~input" to="/cloud" />
    <param name="filter_limit_min" value="-1.0" />
    <param name="filter_limit_max" value="1.0" />
    <param name="filter_field_name" value="x" />
  </node>

  <node pkg="nodelet" type="nodelet" name="y_pass" args="load pcl/PassThrough filter_nodelet" respawn="true" respawn_delay="5">
    <remap from="~input" to="x_pass/output" />
    <param name="filter_limit_min" value="-1.0" />
    <param name="filter_limit_max" value="1.0" />
    <param name="filter_field_name" value="y" />
  </node>

  <node pkg="nodelet" type="nodelet" name="outlier" args="load pcl/RadiusOutlierRemoval filter_nodelet" respawn="true" respawn_delay="5">
    <remap from="~input" to="y_pass/output" />
    <param name="radius_search" value="0.01" />
    <param name="min_neighbors" value="10" />
  </node>
</launch>
