<?xml version="1.0"?>
<launch>
    <arg name="limited" default="true" />
    <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
    <arg name="kinematics_config" default="$(find ur_description)/config/ur3_default.yaml"/>

    <param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find herman_description)/urdf/rubiks_description.urdf.xacro'
      transmission_hw_interface:=$(arg transmission_hw_interface)
      kinematics_config:=$(arg kinematics_config)" />
</launch>
